@charset "utf-8";
/* CSS Document */
@font-face{
    font-family: latothin;
    src: url('../fonts/Lato-Thin.ttf');
}
@font-face{
    font-family: latolight;
    src: url('../fonts/Lato-Hairline.ttf');
}
@font-face{
        font-family: latobold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face{
        font-family: lato;
    src: url('../fonts/Lato-Medium.ttf');
}
@font-face{
    font-family: josefin;
    src: url('../fonts/JosefinSlab-Regular.ttf');
}
body{
    padding-top: 80px;
    background: #fff;
}


.nav a {
  color: #5a5a5a;
  font-size: 16px;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: latothin;
}

.nav li {
  display: inline;
}

.navbar-fixed-top {
    background-color: #00467b;
    border-bottom: #5a5a5a;
}

.jumbotron {
  background-image:url('../pictures/main.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  opacity:0.90;
  font-weight: bold;
  font-size: 80px;  
  font-family: latolight;
}

.jumbotron p {
  font-size: 24px;
  opacity:0.75;
  color: #fff;
  font-family: josefin;
  font-size: 30px;
}
.jumbotron a{
    font-family: latobold;
    font-size: 20px;
}
.learn-more {
  background-color: #514A4A;
}

.learn-more h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: latothin;
}

.learn-more a {
  color: #0079a1;
  font-family: latobold;
  font-size: 16px;
}
.learn-more p{
  color: #DBD2D2;
  font-family: lato;
  font-size: 16px;
}

.perfil{
    padding: 15px;
    background-image:url(../pictures/congruent_outline.png);
}
.perfil h1{
    color: #008cba;
    font-weight: bold;
}
.perfil p{
    color:#ffffff;
}
